
<!-- <div>
  {{text}}
</div> -->


<ion-header>

  <!-- <ion-navbar>
  <ion-title>MainHomePage</ion-title>
  </ion-navbar> -->
  <div class="main-container">
    <!-- Main slider intelli logic-->
  
   
    <!-- Main content intelli logic-->
    <div class="main-content">
    <!-- sidebar -->
    <div class="navigation-section">
    <ul class="menu-icon">
    <li>
    <a id="menus-show" (click)="openCatalogue()">
    <img src="assets/imgs/menu.png" alt="">
    </a>
    </li>
    <li>
    <a id="signup-show" (click)="openLogin()">
    <img src="assets/imgs/signup.png" alt="">
    </a>
    </li>
    <li>
    <a id="search-show" (click)="openSearch()">
    <img src="assets/imgs/search.png" alt="">
    </a>
    </li>
    </ul>
   
    </div>
    <!-- sidebar /.. -->
   
    <!-- <div class="mini-logo">
    <img src="assets/imgs/mini-logo.png" alt="">
    </div> -->
    
    <!-- Registration start -->
    <div class="left-container registration">
    <div class="registration-inner">
    
    <div class="field-cntr">
    <h2>registration</h2>
    <a class="close-as" (click)="closeMenu()">X</a>
    <div class="fields">
    <input type="text" placeholder="" />
    <label>business name</label>
    </div>
    <div class="fields half-as pad-right">
    <input type="text" placeholder="" />
    <label>first name</label>
    </div>
    <div class="fields half-as pad-left">
    <input type="text" placeholder="" />
    <label>last name</label>
    </div>
    <div class="fields">
    <input type="text" placeholder="" />
    <label>email id</label>
    </div>
    <div class="fields">
    <input type="text" placeholder="" />
    <label>username</label>
    </div>
    <div class="fields">
    <input type="text" placeholder="" />
    <label>mobile</label>
    </div>
    <div class="fields">
    <input type="text" placeholder="" />
    <label>city</label>
    </div>
    <div class="fields">
    <input type="password" placeholder="" />
    <label>password</label>
    </div>
    <div class="fields">
    <input type="text" placeholder="" />
    <label>reseller number</label>
    </div>
    <br>
    <div class="fields">
    <input type="button" value="register" />
    </div>
    <div class="bot-section">
    <p>existing wholesaler?</p>
    <p>
    <a id="loginidexist" (click)="loginidexist()">login now</a>
    </p>
    </div>
    </div>
    </div>
    </div>
    <!-- Registration end -->
   
   
    <!-- Login start -->
    <div class="left-container login-as">
    <div class="registration-inner">
    
    <div class="field-cntr">
    <h2>login</h2>
    <a class="close-as" (click)="closeMenu()">X</a>
    <div class="middle-ass">
    <div class="fields">
    <input type="text" placeholder="" />
    <label>user id</label>
    </div>
    <div class="fields">
    <input type="password" placeholder="" />
    <label>password</label>
    </div>
    <div class="fields m-t-20">
    <input type="button" value="login" />
    </div>
    <div class="forgot m-t-30">
    <a id="forgotid" (click)="forgotid()">forgot password</a>
    </div>
    </div>
    <div class="bot-section">
    <p>are you a wholesaler?</p>
    <p>
    <a id="registerwholeseler" (click)="registerwholeseler()">register as a wholesaler</a>
    </p>
    </div>
    </div>
    </div>
    </div>
    <!-- Login end -->
   
   
   
   
    <!-- register & login button start -->
    <div class="left-container button-as">
    <div class="button-inner">
      <a class="close-as" (click)="closeMenu()">X</a>
    <div class="button-cntrsa">
    <div class="middle-top">
    
    <div class="fields">
    <input id="login-show" (click)="loginshow()" type="button" value="login" />
    
    </div>
    <div class="fields m-t-20">
    <input (click)="registration()" id="registration-show" type="button" value="register" />
    </div>
    </div>
    <div class="bot-section">
    <ul class="social">
    <li>
    <a href="https://www.instagram.com/?hl=en">
    <img src="assets/imgs/instagram.png" alt="">
    </a>
    </li>
    <li>
    <a href="https://www.facebook.com/">
    <img src="assets/imgs/facebook.png" alt="">
    </a>
    </li>
    </ul>
    <p class="golden-color">Ghacham Inc. 7340 Alondra</p>
    <p class="golden-color">Blvd. Paramount, CA 90723</p>
    <p class="golden-color">-- 562 602 0400 --</p>
    </div>
    </div>
    </div>
    </div>
    <!-- register & login button end -->
   
   
    <!-- forgot start -->
    <div class="left-container forgot-as">
    <div class="registration-inner">
    
    <div class="field-cntr">
    <h2>login</h2>
    <a class="close-as" (click)="closeMenu()">X</a>
    <div class="middle-ass">
    <div class="forgot">
    <a href="#">password reset link will be sent to your registered email address</a>
    </div>
    <br>
    <br>
    <br>
    <div class="fields">
    <input type="text" placeholder="" />
    <label>user name</label>
    </div>
    <div class="fields m-t-20">
    <input type="button" value="send reset link" />
    </div>
   
    </div>
    <!--<div class="bot-section">
    <p>are you a wholesaler?</p>
    <p><a href="#">register as a wholesaler</a></p>
    </div>-->
    </div>
    </div>
    </div>
    <!-- forgot end -->
   
   
   
   
   
    <!-- orders, sync, go off line, logout button start -->
    <div class="left-container sync-as" style="display: none;">
    <div class="button-inner">
      <a class="close-as" (click)="closeMenu()">X</a>
    <div class="button-cntr">
    <div class="sync">
    <div class="fields">
    <input type="button" value="orders" />
    <label></label>
    </div>
    <div class="fields">
    <input type="button" value="sync" />
    </div>
    <div class="fields">
    <input type="button" value="go offline" />
    <label class="last-sync">last sync at 24feb18 2:48pm</label>
    </div>
    <div class="fields">
    <input type="button" value="log out" />
    </div>
    </div>
    <div class="bot-section">
    <ul class="social">
    <li>
    <a href="#">
    <img src="assets/imgs/instagram.png" alt="">
    </a>
    </li>
    <li>
    <a href="#">
    <img src="assets/imgs/facebook.png" alt="">
    </a>
    </li>
    </ul>
    <p class="golden-color">Ghacham Inc. 7340 Alondra</p>
    <p class="golden-color">Blvd. Paramount, CA 90723</p>
    <p class="golden-color">-- 562 602 0400 --</p>
    </div>
    </div>
    </div>
    </div>
    <!-- orders, sync, go off line, logout button end -->
   
   
   
   
   
   
   
   
    <!-- catalog level one start -->
    <div class="left-container catalog">
    <div class="registration-inner onreg">
    
    <div class="field-cntr-2">
    <h2>catalog</h2>
    <a class="close-as" (click)="closeMenu()">X</a>
    <ul id="maincat">
   
    <li *ngFor="let cat of FirstLevelCategories">
      <a href="#" (click)="GetSecondLevelCategories(cat.id , cat.name)">{{cat.name}}</a>
    <ul>
    <li *ngFor= "let secCat of SecondLevelCategories">
    <a href="#" (click)= "OpenProductListing(secCat.id , secCat.name , 0)">{{secCat.name}}</a>
   
    </li>
   
    </ul>
   
    
    
   
    </li>
   
    <!-- <ul>
    <li>
    <a href="#">tops</a>
    </li>
    <li>
    <a href="#">bottoms</a>
    </li>
    <li>
    <a href="#">outerwear</a>
    </li>
    </ul>
    </li>
    <li>
    <a href="#">women</a>
    <ul>
    <li>
    <a href="#">women</a>
    </li>
    <li>
    <a href="#">women</a>
    </li>
    <li>
    <a href="#">women</a>
    </li>
    </ul>
    </li>
    <li>
    <a href="#">kids</a>
    <ul>
    <li>
    <a href="#">kids</a>
    </li>
    <li>
    <a href="#">kids</a>
    </li>
    <li>
    <a href="#">kids</a>
    </li>
    </ul>
    </li>
    <li>
    <a href="#">others</a>
    </li>
    <li>
    <a href="#">new arrivals</a>
    </li>
    <li>
    <a href="#">clearance</a>
    </li>
    <li>
    <a href="#">future products</a>
    </li>
    <li>
    <a href="#">discontinued styles</a>
    </li> -->
    </ul>
    </div>
    </div>
    </div>
    <!-- catalog level one end -->
    </div>
   
   
    <!-- search-area -->
    <div class="search-area" id="search-area" style="display: none;">
    <a class="close-serach" (click)="closeMenu()">X</a>
    <ul class="breadcrums">
    <li><a href="javascript:void(0);">home</a><span>></span></li>
    <li><a href="javascript:void(0);">men</a><span>></span></li>
    <li><a href="javascript:void(0);">tops</a><span>></span></li>
    <li><a href="javascript:void(0);">search</a><span>></span></li>
    </ul>
    <div class="search-tools">
    <input type="text" placeholder="" />
    <label>enter search text to match style# or description</label>
    <input type="button" value="search" />
    <span class="search-error"></span>
    </div>
    </div><!-- search-area ../-->
    
    </div><!--Main content ../-->
 
 </ion-header>
 
 
 <ion-content>
  
 </ion-content>
 